<!DOCTYPE html>
<html>
  <head>
    <title>Food Delivery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div id="flash_messages">
    <% if flash[:alert].present? %>
      <P class="alert_message">
        <%= flash[:alert] %>
      </P>
    <% end %>
    
    <% if flash[:notice].present? %>
      <P class="notice_message">
        <%= flash[:notice] %>
      </P>
    <% end %>
    </div>
    
    <%= yield %>
  </body>
  <div class="footer">
    <p>@Food Delivery 2018</p>
  </div>
</html>
